@page "/mvvm"

@inject IFetchDataViewModel  viewModel

<h1>Weather forecast through MVVM</h1>
@if (viewModel.Forecasts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<button class="btn btn-primary" 
			@onclick=@viewModel.ToggleScaleAction>Display @viewModel.OtherTempScale</button>
	<br/>
	<br/>

	<TemperatureControl Forecasts="@viewModel.Forecasts" TemperatureTitle="@viewModel.TempTitle" PrintTemp="@viewModel.PrintTemperature" />
	<DXTempControl Forecasts="@viewModel.Forecasts" TemperatureTitle="@viewModel.TempTitle" PrintTemp="@viewModel.PrintTemperature" />
}

@code {

	protected override async Task OnInitializedAsync()
	{
		await viewModel.RetrieveDataAsync();
	}


}
